# (C) 2024 GoodData Corporation
SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"

export PATH="${SCRIPT_DIR}/.venv/bin:${PATH}"

source .venv/bin/activate
source .secrets

export PYTHONPATH="${SCRIPT_DIR}/src"
